In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Amazon_Unlocked_Mobile.csv")
df.drop_duplicates(subset="Reviews", inplace=True)
df.Rating = df.Rating.replace(to_replace={5: "Very_Good", 4: "Good", 3: "OK", 2: "Bad", 1: "Very_Bad"})
df["word_count"] = df.Reviews.apply(lambda row: len(str(row).split()))
df["length"] = df.Reviews.apply(lambda row: len(str(row)))

In [3]:
df.head()

,Rating,Reviews,word_count,length
0,Very_Good,I feel so LUCKY to have found this used (phone...,72,374
1,Good,"nice phone, nice up grade from my pantach revu...",40,214
2,Very_Good,Very pleased,2,12
3,Good,It works good but it goes slow sometimes but i...,17,76
4,Good,Great phone to replace my lost phone. The only...,43,223

In [4]:
df.Rating.value_counts()

Very_Good    78129
Very_Bad     32920
Good         25644
OK           14366
Bad          11428
Name: Rating, dtype: int64

In [5]:
df[(df.length < 1024) & (df.word_count >= 15)]["Rating"].value_counts()

Very_Good    42879
Very_Bad     23668
Good         17018
OK           10315
Bad           8444
Name: Rating, dtype: int64

In [6]:
for intent in df.Rating.unique():
    df[(df.length < 1024) & (df.word_count >= 15) & (df.Rating == intent)][["Reviews", "Rating"]].sample(n=1000).to_csv("WA_{}_training.csv".format(intent), index=False, header=False)

In [7]:
for intent in df.Rating.unique():
    df[(df.length < 1024) & (df.word_count >= 15) & (df.Rating == intent)][["Reviews", "Rating"]].sample(n=1000).to_csv("WA_{}_feedback.csv".format(intent), index=False, header=False)